<h2>Calculadora simple, logica 01 mat-raised-button</h2>

<div class="contenedor">

	<mat-form-field>
		<input matInput [(ngModel)]="valor1" type="number" placeholder="Ingrese primer valor">
	</mat-form-field>

	<mat-form-field>
		<input matInput [(ngModel)]="valor2" type="number" placeholder="Ingrese segundo valor">
	</mat-form-field>

	<!-- <button mat-raised-button color="primary" (click)="sumar()">Sumar</button>
    <p>La suma de los dos valores es:{{resultado}}</p>
    
    <button mat-raised-button color="primary" (click)="restar()">restar</button>
    <p>La resta de los dos valores es:{{resultado}}</p>

    <button mat-raised-button color="primary" (click)="multiplicar()">multiplicar</button>
    <p>La multiplicacion de los dos valores es:{{resultado}}</p>

    <button mat-raised-button color="primary" (click)="dividir()">dividir</button>
    <p>La division de los dos valores es:{{resultado}}</p> -->

	<div style="display: flex;">
		<button mat-raised-button style="margin: 0 5px;" color="primary" (click)="sumar()">Sumar</button>
		<button mat-raised-button style="margin: 0 5px;" color="primary" (click)="restar()">restar</button>
		<button mat-raised-button style="margin: 0 5px;" color="primary" (click)="multiplicar()">multiplicar</button>
		<button mat-raised-button style="margin: 0 5px;" color="primary" (click)="dividir()">dividir</button>
		<div style="flex:1"></div>
		<button mat-raised-button style="margin: 0 5px;" color="warn" (click)="resetear()">reset</button>

	</div>

	<p *ngIf="tipo != null">La {{tipo}} de los dos valores es:{{resultado}}</p>

</div>

<h2>Calculadora simple, logica 02 mat-radio-group</h2>

<div class="contenedor">

	<mat-form-field>
		<input matInput [(ngModel)]="valor10" type="number" placeholder="Ingrese primer valor">
	</mat-form-field>

	<mat-form-field>
		<input matInput [(ngModel)]="valor20" type="number" placeholder="Ingrese segundo valor">
	</mat-form-field>

	<mat-radio-group name="opciones" [(ngModel)]="operacionSeleccionada">
		<mat-radio-button *ngFor="let op of tipoOperaciones" name="opciones" [value]="op" style="margin: 10px">
			{{op}}
		</mat-radio-button>
	</mat-radio-group>

	<button mat-raised-button color="primary" (click)="operar()">Operar</button>
	<button mat-raised-button color="warn" (click)="reset()">reset</button>

	<p>El resultado es:{{resultado1}}</p>

</div>

<h2>Calculadora simple, logica 03 mat-checkbox</h2>

<div class="contenedor">

	<mat-form-field>
	  <input matInput [(ngModel)]="valor100" type="number" placeholder="Ingrese primer valor">
	</mat-form-field>
  
	<mat-form-field>
		<input matInput [(ngModel)]="valor200" type="number" placeholder="Ingrese segundo valor">
	</mat-form-field>
	
	<mat-checkbox [(ngModel)]="opcion1">Sumar</mat-checkbox>
	<mat-checkbox [(ngModel)]="opcion2">Restar</mat-checkbox>
	<mat-checkbox [(ngModel)]="opcion3">Multiplicar</mat-checkbox>
	<mat-checkbox [(ngModel)]="opcion4">Dividir</mat-checkbox>
  
	<button mat-raised-button color="primary" (click)="operaracion()">Operar</button>
	<p>{{resultado2}}</p>
	
  </div>

  <h2>Calculadora simple, logica 04 mat-select</h2>

  <div class="contenedor">

	<mat-form-field>
	  <input matInput [(ngModel)]="valor1000" type="number" placeholder="Ingrese primer valor">
	</mat-form-field>
  
	<mat-form-field>
		<input matInput [(ngModel)]="valor2000" type="number" placeholder="Ingrese segundo valor">
	</mat-form-field>
	
	<mat-form-field>
	  <mat-select placeholder="Operaciones" [(ngModel)]="seleccionada" name="operacion">
		<mat-option *ngFor="let op of operaciones04" [value]="op.valor">
		  {{op.muestraValor}}
		</mat-option>
	  </mat-select>
	</mat-form-field>
  
	<button mat-raised-button color="primary" (click)="operar04()">Operar</button>
	<p>El resultado es:{{resultado3}}</p>
	
  </div>  

  <h2>Calculadora simple, logica 05 mat-slide-toggle</h2>

  <div class="contenedor">

	<mat-form-field>
	  <input matInput [(ngModel)]="valor10000" type="number" placeholder="Ingrese primer valor">
	</mat-form-field>
  
	<mat-form-field>
		<input matInput [(ngModel)]="valor20000" type="number" placeholder="Ingrese segundo valor">
	</mat-form-field>
	
	<mat-slide-toggle [(ngModel)]="opcion10">Sumar</mat-slide-toggle>
	<mat-slide-toggle [(ngModel)]="opcion20">Restar</mat-slide-toggle>
	<mat-slide-toggle [(ngModel)]="opcion30">Multiplicar</mat-slide-toggle>
	<mat-slide-toggle [(ngModel)]="opcion40">Dividir</mat-slide-toggle>
  
	<button mat-raised-button color="primary" (click)="operaracion1()">Operar</button>
	<p>{{resultado4}}</p>
	
  </div>  

  <h2>Suma con slider, logica 06 mat-slider</h2>

  <mat-slider [(ngModel)]="slider1" thumbLabel (change)="cambiar()" min="0" max="200"></mat-slider><br>
  <mat-slider [(ngModel)]="slider2" thumbLabel (change)="cambiar()" min="0" max="200"></mat-slider><br>
  <mat-slider [(ngModel)]="slider3" thumbLabel (change)="cambiar()" min="0" max="200"></mat-slider><br>

  La suma de los tres slider es:{{sumaSlider}}