<div class="contenedor">

    <mat-form-field>
      <input matInput [(ngModel)]="valor1" type="number" placeholder="Ingrese primer valor">
    </mat-form-field>
  
    <mat-form-field>
        <input matInput [(ngModel)]="valor2" type="number" placeholder="Ingrese segundo valor">
    </mat-form-field>
    
    <!-- <button mat-raised-button color="primary" (click)="sumar()">Sumar</button>
    <p>La suma de los dos valores es:{{resultado}}</p>
    
    <button mat-raised-button color="primary" (click)="restar()">restar</button>
    <p>La resta de los dos valores es:{{resultado}}</p>

    <button mat-raised-button color="primary" (click)="multiplicar()">multiplicar</button>
    <p>La multiplicacion de los dos valores es:{{resultado}}</p>

    <button mat-raised-button color="primary" (click)="dividir()">dividir</button>
    <p>La division de los dos valores es:{{resultado}}</p> -->

    <div style="display: flex;">
        <button mat-raised-button style="margin: 0 5px;" color="primary" (click)="sumar()">Sumar</button>
        <button mat-raised-button style="margin: 0 5px;"color="primary" (click)="restar()">restar</button>
        <button mat-raised-button style="margin: 0 5px;" color="primary" (click)="multiplicar()">multiplicar</button>
        <button mat-raised-button style="margin: 0 5px;"color="primary" (click)="dividir()">dividir</button> 
        <div style="flex:1"></div>  
        <button mat-raised-button style="margin: 0 5px;"color="warn" (click)="tipo= ''">reset</button>   

    </div>

    <p *ngIf="tipo != ''">La {{tipo}} de los dos valores es:{{resultado}}</p>

  </div>
